<div class="d-flex justify-content-between">
  <h4>New Ticket</h4>
  <button mat-button (click)='cancel()'>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-card>
<mat-card-content>
<form [formGroup]="TicketForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
        <div class="row">
          <div class="input-group">
            <input type='text' formControlName='ticket_id' placeholder="Ticket ID">  
          </div>
          <div class="input-group">
              <select formControlName="request_type">
                <option value="">request type...</option>
                <option *ngFor="let site of requests" [ngValue]="site">{{site}}</option>
              </select>
          </div>
          <div class="input-group">
            <input type='text' formControlName='source' placeholder="source"> 
          </div>
          <div class="input-group">
              <select formControlName="status">
                  <option value="">status...</option>
                  <option *ngFor="let site of statuses" [ngValue]="site">{{site}}</option>
                </select>
          </div>
          <div class="input-group">
            <input type='text' formControlName='comments' placeholder="comments">   
          </div>   
        </div> 
    </div>
    <div class="col ml-5">
        <div class="row">
          <div class="input-group">
            <select formControlName="sales_manager">
              <option value="">Sales manager...</option>
              <option *ngFor="let sales_manager of salesManagers" [ngValue]="sales_manager.id">{{sales_manager.sales_manager}}</option>
            </select>
          </div>
          <div class="input-group">
              <select formControlName="engineer">
                <option value="">engineer...</option>
                <option *ngFor="let engineer of engineers" [ngValue]="engineer.id">{{engineer.engineer}}</option>
              </select>
          </div>
          <div class="input-group">
              <div class="col-more">
              <input formControlName='scheduled_date' [matDatepicker]="m1" placeholder="scheduled date">
              </div>
              <div class="col-less">
              <mat-datepicker-toggle style="color: #7ed321" [for]="m1"></mat-datepicker-toggle>
              <mat-datepicker #m1></mat-datepicker>
              </div>
          </div>
          <div class="input-group">
              <div class="col-more">
                  <input formControlName='start_date' [matDatepicker]="m2" placeholder="start date">
                  </div>
                  <div class="col-less">
                  <mat-datepicker-toggle style="color: #7ed321" [for]="m2"></mat-datepicker-toggle>
                  <mat-datepicker #m2></mat-datepicker>
                  </div>
          </div>
          <div class="input-group">
              <div class="col-more">
                  <input formControlName='stop_date' [matDatepicker]="m3" placeholder="stop date">
                  </div>
                  <div class="col-less">
                  <mat-datepicker-toggle style="color: #7ed321" [for]="m3"></mat-datepicker-toggle>
                  <mat-datepicker #m3></mat-datepicker>
                  </div> 
          </div>   
        </div> 
    </div>
  </div>
  <div>
  <button type="submit" [disabled]="!TicketForm.valid">Submit</button>
  </div>
</form>
</mat-card-content>
</mat-card>

  